{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}


<h3> Blog posts: </h3>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "==" "posts" ) }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

<h3> Things I've learned: </h3>
<ul>
  {{ $til := .Pages }}
  {{ if .IsHome }}{{ $til = .Site.RegularPages }}{{ end }}
  {{ range (where $til "Section" "==" "til" ) }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>


{{ partial "footer.html" . }}
